@{
    ViewData["Title"] = "QuienesSomos";
}
<div>
    <p>La principal función de una sección «Quiénes somos» o «Acerca de nosotros» es servir como una carta de presentación para que los visitantes a tu sitio sepan cuál es el origen de tu empresa, qué objetivos persigue o cuál es el mensaje que está detrás de tus productos. Por ello, esta sección debe sintetizar la esencia de tu empresa.</p>
</div>